.intro{
    background-color: white ;
    display: flex;

    .left{
        flex: 0.4;
        overflow: hidden;

        .imageContainer{
            margin-top: 100px;
            margin-left: 100px;
            width: 350px;
            height: 350px;
            border-radius: 50%;
            overflow: hidden;
            img{
                width: 100%;
            }
        }
    }
    
    .right{
        flex: 0.6;
        position: relative;
        .warpper{
            width: 100%;
            height: 100%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h1{
                font-size: 35px;
                margin: 10px 0;
            }
            h2{
                span{
                    color: #036bfc;
                }
            }

        }
        a{
            position: absolute;
            bottom: 25px;
            left:40%;
            img {
                width: 30px;
                animation: arrowBlink 2s in infinite;
            }
            @keyframes arrowBlink {
                100%{
                    opacity: 0;
                }
            }
        }
    }
    
}


